/* 
  Base style for BackTree
*/

@backtree-background-color: #eee;
@backtree-li-hover-background-color: #ddd;
@backtree-background-textcolor: #333;
@backtree-border: #ddd;

#backtree {
  border-left: 2px solid @backtree-border;
  border-right: 2px solid @backtree-border;

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0; 
      li {
        line-height: 22px;
        .bt-node {
          margin-top:1px;
          .bt-icon, .bt-type-collection {
            width:16px;
            height: 16px;
            font-size: 10px; line-height:10px;
            display: inline-block;
            background: url(../img/backtree_sprite.png) no-repeat left top;
            padding:0;
            clear:none;
          }
          .bt-type-collection {
            background-position: 0 -61px;
            margin: 0 0 0 4px;
          }
          .bt-type-collection:active {
            background-position: -64px -61px;
          }
          .bt-type-collection-open {
            background-position: 0 -93px;
          }
          .bt-type-collection-open:active {
            background-position: -64px -93px;
          }
          .bt-icon {
              margin: 0 4px -1px 0;
              height: 18px;
              background-position: -128px -28px;
          }
          .bt-icon-collection-open {
              background-position: -128px 3px;
          }
        }
        .bt-node:hover {
           background-color: @backtree-li-hover-background-color;
        }
        .bt-node-selected:active {
          background: #b6caca;
          background: -moz-linear-gradient(top, #b6caca 0%, #4d576d 2%, #3c4352 98%, #1b222f 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6caca), color-stop(2%,#4d576d), color-stop(98%,#3c4352), color-stop(100%,#1b222f));
          background: -webkit-linear-gradient(top, #b6caca 0%,#4d576d 2%,#3c4352 98%,#1b222f 100%);
          background: -o-linear-gradient(top, #b6caca 0%,#4d576d 2%,#3c4352 98%,#1b222f 100%);
          background: -ms-linear-gradient(top, #b6caca 0%,#4d576d 2%,#3c4352 98%,#1b222f 100%);
          background: linear-gradient(to bottom, #b6caca 0%,#4d576d 2%,#3c4352 98%,#1b222f 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6caca', endColorstr='#1b222f',GradientType=0 );

        }
        .bt-node-selected {
          color: white;
          background: #edf2f2;
          background: -moz-linear-gradient(top, #edf2f2 0%, #606c88 2%, #4b5366 98%, #222a3a 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edf2f2), color-stop(2%,#606c88), color-stop(98%,#4b5366), color-stop(100%,#222a3a));
          background: -webkit-linear-gradient(top, #edf2f2 0%,#606c88 2%,#4b5366 98%,#222a3a 100%);
          background: -o-linear-gradient(top, #edf2f2 0%,#606c88 2%,#4b5366 98%,#222a3a 100%);
          background: -ms-linear-gradient(top, #edf2f2 0%,#606c88 2%,#4b5366 98%,#222a3a 100%);
          background: linear-gradient(to bottom, #edf2f2 0%,#606c88 2%,#4b5366 98%,#222a3a 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf2f2', endColorstr='#222a3a',GradientType=0 );
          .bt-type-collection {
            background-position: -96px -61px;
          }
          .bt-type-collection-open {
            background-position: -96px -93px;
          }
        }
      }
    }
  /* Used for placing over the element */
  ul ul.backtreespacer {
    padding-left: 8px;
  }
}


