/* 
  Base style for BackTree
*/

@backtree-background-color: #eee;
@backtree-background-textcolor: #333;

#backtree {

  ul {
      list-style: disc;
      padding-left: 10px;
      margin: 0 0 0 8px;    
    }

}


