body,
html {
    margin:0;
    padding:0;
    color: #333;
    background: #eee;
}
header {
    font-family: 'Source Sans Pro', sans-serif;
    margin 32px;
    background-color: #ddd;
    border-bottom: 2px solid #ccc;
}
h1 {
    font-weight: 300;
    line-height: 2em;
    font-size: 3em;
    margin: 0 16px;
}
.wrapper {
    width: 100%;
    min-width: 100%;
}
.middle {
    border-left: 400px solid transparent;
    height: 1%;
    position: relative;
}
.middle:after {
    content: '';
    clear: both;
    display: table;
}
.container {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-right: -100%;
}
.content {
    padding: 0 16px;
    background: white;
}
#backtree { 
    font-family: "Lucida Grande", 'Source Sans Pro', sans-serif;
    font-size: 13px;
    float: left;
    width: 400px;
    position: relative;
    left: -400px;
    height: 200px;
}

.bt-node:hover {
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
            
