/*  Base style for BackTree */
/* Dimensions */
/* Mixins */
.backtree-footer-gradient {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e4e4e4 3%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(3%, #e4e4e4), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e4e4e4 3%, #dddddd 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e4e4e4 3%, #dddddd 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e4e4e4 3%, #dddddd 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e4e4e4 3%, #dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
}
.backtree-selected-node-active-color {
  background: #b6caca;
  background: -moz-linear-gradient(top, #b6caca 0%, #4d576d 2%, #3c4352 98%, #1b222f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6caca), color-stop(2%, #4d576d), color-stop(98%, #3c4352), color-stop(100%, #1b222f));
  background: -webkit-linear-gradient(top, #b6caca 0%, #4d576d 2%, #3c4352 98%, #1b222f 100%);
  background: -o-linear-gradient(top, #b6caca 0%, #4d576d 2%, #3c4352 98%, #1b222f 100%);
  background: -ms-linear-gradient(top, #b6caca 0%, #4d576d 2%, #3c4352 98%, #1b222f 100%);
  background: linear-gradient(to bottom, #b6caca 0%, #4d576d 2%, #3c4352 98%, #1b222f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6caca', endColorstr='#1b222f', GradientType=0);
}
.backtree-selected-node-color {
  background: #edf2f2;
  background: -moz-linear-gradient(top, #edf2f2 0%, #606c88 2%, #4b5366 98%, #222a3a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edf2f2), color-stop(2%, #606c88), color-stop(98%, #4b5366), color-stop(100%, #222a3a));
  background: -webkit-linear-gradient(top, #edf2f2 0%, #606c88 2%, #4b5366 98%, #222a3a 100%);
  background: -o-linear-gradient(top, #edf2f2 0%, #606c88 2%, #4b5366 98%, #222a3a 100%);
  background: -ms-linear-gradient(top, #edf2f2 0%, #606c88 2%, #4b5366 98%, #222a3a 100%);
  background: linear-gradient(to bottom, #edf2f2 0%, #606c88 2%, #4b5366 98%, #222a3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf2f2', endColorstr='#222a3a', GradientType=0);
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
/* Actual Styles */
#backtree {
  border-left: 2px solid #dddddd;
  border-right: 2px solid #dddddd;
  overflow: hidden;
  /* Used for placing over the element */

}
#backtree .bt-wrapper {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 24px;
  padding-bottom: 24px;
  width: 100%;
}
#backtree ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#backtree ul li {
  line-height: 22px;
}
#backtree ul li .bt-node {
  margin-top: 1px;
  /* Shows an open icon */

}
#backtree ul li .bt-node .bt-icon,
#backtree ul li .bt-node .bt-arrow {
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  background: url(../img/backtree_sprite.png) no-repeat left top;
  padding: 0;
  clear: none;
}
#backtree ul li .bt-node .bt-arrow {
  background-position: 0 -61px;
  margin: 0 0 0 4px;
}
#backtree ul li .bt-node .bt-arrow:active {
  background-position: -64px -61px;
}
#backtree ul li .bt-node .bt-arrow-open {
  background-position: 0 -93px;
}
#backtree ul li .bt-node .bt-arrow-open:active {
  background-position: -64px -93px;
}
#backtree ul li .bt-node .bt-icon {
  margin: 0 4px -1px 0;
  height: 18px;
  background-position: -128px -28px;
}
#backtree ul li .bt-node .bt-icon-collection-open-icon {
  background-position: -128px 3px;
}
#backtree ul li .bt-node input {
  background: transparent;
  color: inherit;
  border: 0;
  font-size: inherit;
  margin: 0;
  padding: 0;
  width: 50%;
}
#backtree ul li .bt-node:hover {
  background-color: #dddddd;
}
#backtree ul li .bt-node:first-of-type {
  margin-top: 0;
}
#backtree ul li .bt-node-selected:active {
  background: #b6caca;
  background: -moz-linear-gradient(top, #b6caca 0%, #4d576d 2%, #3c4352 98%, #1b222f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6caca), color-stop(2%, #4d576d), color-stop(98%, #3c4352), color-stop(100%, #1b222f));
  background: -webkit-linear-gradient(top, #b6caca 0%, #4d576d 2%, #3c4352 98%, #1b222f 100%);
  background: -o-linear-gradient(top, #b6caca 0%, #4d576d 2%, #3c4352 98%, #1b222f 100%);
  background: -ms-linear-gradient(top, #b6caca 0%, #4d576d 2%, #3c4352 98%, #1b222f 100%);
  background: linear-gradient(to bottom, #b6caca 0%, #4d576d 2%, #3c4352 98%, #1b222f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6caca', endColorstr='#1b222f', GradientType=0);
}
#backtree ul li .bt-node-selected {
  color: white;
  background: #edf2f2;
  background: -moz-linear-gradient(top, #edf2f2 0%, #606c88 2%, #4b5366 98%, #222a3a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edf2f2), color-stop(2%, #606c88), color-stop(98%, #4b5366), color-stop(100%, #222a3a));
  background: -webkit-linear-gradient(top, #edf2f2 0%, #606c88 2%, #4b5366 98%, #222a3a 100%);
  background: -o-linear-gradient(top, #edf2f2 0%, #606c88 2%, #4b5366 98%, #222a3a 100%);
  background: -ms-linear-gradient(top, #edf2f2 0%, #606c88 2%, #4b5366 98%, #222a3a 100%);
  background: linear-gradient(to bottom, #edf2f2 0%, #606c88 2%, #4b5366 98%, #222a3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf2f2', endColorstr='#222a3a', GradientType=0);
}
#backtree ul li .bt-node-selected .bt-arrow {
  background-position: -96px -61px;
}
#backtree ul li .bt-node-selected .bt-arrow-open {
  background-position: -96px -93px;
}
#backtree ul.bt-node-closed > li > ul {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
#backtree ul.bt-node-closed .bt-node .bt-arrow {
  background-position: 0 -61px;
  margin: 0 0 0 4px;
}
#backtree ul ul.bt-branch {
  padding-left: 8px;
}
#backtree header {
  height: 0;
  border: 0;
}
#backtree footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 24px;
  background-color: #dddddd;
  border: 1px solid #d3d3d3;
  border-width: 1px 0;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e4e4e4 3%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(3%, #e4e4e4), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e4e4e4 3%, #dddddd 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e4e4e4 3%, #dddddd 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e4e4e4 3%, #dddddd 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e4e4e4 3%, #dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
}
#backtree footer .right {
  float: right;
}
#backtree footer ul.menu {
  display: inline-block;
  list-style-type: none;
  line-height: 24px;
  border-left: 1px solid #eee;
}
#backtree footer ul.menu li {
  height: 24px;
  line-height: 24px;
  float: left;
  border-right: 1px solid #eee;
  border-left: 1px solid #bbb;
}
#backtree footer ul.menu li a {
  display: inline-block;
  text-indent: -9999px;
  text-align: left;
  width: 24px;
  padding: 0 4px;
  background: url(../img/backtree_sprite.png) no-repeat left top;
}
#backtree footer ul.menu li a.bt-ft-add-button {
  background-position: -24px -124px;
}
#backtree footer ul.menu li a.bt-ft-add-button:hover {
  background-position: -88px -124px;
}
#backtree footer ul.menu li a.bt-ft-add-button:active {
  background-position: -120px -123px;
}
#backtree footer ul.menu li a.bt-ft-remove-button {
  background-position: 8px -156px;
}
#backtree footer ul.menu li:last-of-type {
  border-right: 0;
}
#backtree footer ul.bt-menu-active li a.bt-ft-remove-button:hover {
  background-position: -56px -156px;
}
#backtree footer ul.bt-menu-active li a.bt-ft-remove-button:active {
  background-position: -120px -155px;
}
#backtree footer ul.bt-menu-active li a.bt-ft-remove-button {
  background-position: -24px -156px;
}
#backtree nav.tree {
  width: 100%;
}
